header {
  background: #27272A;
}

.header__top {
  display: flex;
  align-items: center;
  padding: 0 20px;
  height: 44px;
  gap: 20px;
  border-bottom: 1px solid #414144;
}
.header__top .header__top__button {
  width: 24px;
  height: 24px;
}
.header__top .header__top__button .button__img path {
  transition: 0.3s;
}
.header__top .header__top__button:hover .button__img path {
  fill: #FFFFFF;
}
.header__top .header__top__link {
  height: 100%;
  align-content: center;
}

.header__bottom {
  display: flex;
  height: 44px;
  border-bottom: 1px solid #414144;
}
.header__bottom .left__switch {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px 0 20px;
  width: 234px;
  color: #A1A1AA;
  border-right: 1px solid #414144;
  cursor: pointer;
}
.header__bottom .left__switch:hover {
  color: #FFFFFF;
}
.header__bottom .left__switch .left__switch__text {
  align-content: center;
}
.header__bottom .left__switch .left__switch__text .name {
  font-size: 14px;
  line-height: 16.41px;
}
.header__bottom .left__switch .left__switch__text .abbreviation {
  font-size: 10px;
  line-height: 11.72px;
}
.header__bottom .left__switch .arrow {
  width: 24px;
  height: 24px;
}

.sections {
  display: flex;
}
.sections .sections__item {
  color: #FFFFFF;
  padding: 0 10px;
  border-right: 1px solid #414144;
  font-size: 18px;
  line-height: 21.09px;
}

.project__menu {
  display: flex;
  flex-direction: column;
  background: #27272A;
  width: 234px;
  height: 100%;
  border-right: 1px solid #414144;
  overflow-y: auto;
  border-right: 1px solid #414144;
  flex-shrink: 0;
}
.project__menu .project__item {
  display: flex;
  gap: 14px;
  align-items: center;
  padding: 5px 20px;
  color: #FFFFFF;
  font-size: 14px;
  line-height: 16.41px;
  cursor: pointer;
  transition: 0.3s;
}
.project__menu .project__item:hover {
  background: #A1A1AA;
}
.project__menu .project__item.active {
  background: #A1A1AA;
}

.works {
  height: 100%;
  flex-grow: 1;
  background: #202124;
  padding: 10px;
  overflow-y: auto;
}

.works__block {
  display: flex;
  color: #FFFFFF;
  border-bottom: 1px solid #414144;
  height: 60px;
  align-items: center;
}
.works__block.works__header {
  color: #A1A1AA;
  height: 30px;
  align-items: flex-start;
}
.works__block .works__item {
  width: 200px;
  padding: 0 12px;
  border: none;
  background: none;
  color: #FFFFFF;
}
.works__block .works__item:nth-of-type(1) {
  width: 110px;
}
.works__block .works__item:nth-of-type(2) {
  width: 757px;
}
.works__block .works__item:nth-of-type(3) {
  width: 200px;
}
.works__block.active .works__item {
  padding: 10px;
}
.works__block.active .works__item input {
  padding: 10px;
  border-radius: 6px;
  width: 100%;
  background: #202124;
  border: 1px solid #414144;
  color: #71717A;
}

.works__controller {
  display: flex;
  align-items: center;
  border-radius: 6px;
  width: max-content;
  position: relative;
  z-index: 10;
}
.works__controller .works__button {
  padding: 6px;
  display: flex;
  align-items: center;
  transition: 0.3s;
}
.works__controller .works__button:nth-child(2) {
  opacity: 0;
}
.works__controller .works__button .works__img {
  width: 16px;
  height: 16px;
}
.works__controller .works__button .works__img path {
  transition: 0.3s;
}
.works__controller .works__button:hover .works__img path {
  fill: #FFFFFF;
}
.works__controller:hover {
  background: #414144;
}
.works__controller:hover .works__button:nth-child(2) {
  opacity: 1;
}
.works__controller.child {
  margin-left: 20px;
}

.lines__img {
  position: absolute;
  bottom: 12px;
  left: -6px;
  z-index: -5;
  pointer-events: none;
}

.newLine .lines__img {
  left: -4px;
}

.main__content {
  height: 100%;
  display: flex;
  overflow: overlay;
}

/*# sourceMappingURL=style.css.map */
